body 
{ 
font-family : Arial;	
font-size : 10pt; 
}

td 
{ 
font-family : Arial; 
font-size : 10pt; 
}

.version
{
font-family : Arial;
font-size : 8pt;
}

.copyright
{
font-family : Arial;
font-size : 8pt;
}

.small
{
font-family : Arial;
font-size : 8pt;
}