body { 
    font-family : Arial;	
    font-size : 10pt; 
}

td { 
    font-family : Arial; 
    font-size : 10pt; 
}

img {
	border: 0px;
}

h3 a {
    color: black;
}

td.action {
    text-align: center;
}
td.action a {
    color: black;
    text-decoration: none;
}

.error {
    color: #FF0000;
    font-weight:bold
}
.success {
    color: #41D22D;
}
.version {
    font-family : Arial;
    font-size : 8pt;
}

.copyright {
    font-family : Arial;
    font-size : 8pt;
}

.small {
    font-family : Arial;
    font-size : 8pt;
}

.recordA {
    background-color: #FFFFCC;
}
.recordAAAA {
    background-color: #C8FFCC;
}
.recordMX {
    background-color: #FFCC99;
}
.recordNS {
    background-color: #CCFFFF;
}
.recordCNAME {
    background-color: #ECCCFF;
}
.recordPTR {
    background-color: #ECCCFF;
}
.recordSOA {
    background-color: #99FF99;
}
.recordTXT {
    background-color: #99FF99;
}
.recordSRV {
    background-color: #CCFFFF;
}
.recordUnknown {
    background-color: #FE7C77;
}
